@using Launcher.Enums
<div class="flyout" style="display: @_isVisibleStyle;">
    <div class="flyout-header">
        <div class="flyout-header-content">
            @if (Header is not null)
            {
                @Header
            }
            else
            {
                <h2>@Title</h2>
            }
        </div>
        <button type="button" @onclick="@Close"><Icon IconType="SvgIcon.Close" /></button>
    </div>
    <div class="flyout-content">
        @Content
    </div>
    <div class="flyout-footer">
        @Footer
    </div>
</div>

@code {
    /// <summary>Gets or sets the header content.</summary>
    [Parameter]
    public RenderFragment Header { get; set; }

    /// <summary>Gets or sets the main content.</summary>
    [Parameter]
    public RenderFragment Content { get; set; }

    /// <summary>Gets or sets the footer content.</summary>
    [Parameter]
    public RenderFragment Footer { get; set; }

    /// <summary>Gets or sets the title.</summary>
    [Parameter]
    public string Title { get; set; } = default!;

    /// <summary>Gets or sets whether the flyout is visible.</summary>
    [Parameter]
    public bool IsVisible { get; set; }

    /// <summary>Gets or sets the event executed when the visibility changes.</summary>
    [Parameter]
    public EventCallback<bool> IsVisibleChanged { get; set; }

    private string _isVisibleStyle => IsVisible ? "grid" : "none";

    private async Task Close()
    {
        IsVisible = false;
        await IsVisibleChanged.InvokeAsync(IsVisible);
    }
}
