@inherits FlyoutBase

<Flyout Title="Settings">
    <Footer>
        <button type="button">Save</button>
        <button type="button" @onclick="@OnClose">Cancel</button>
    </Footer>
</Flyout>

@code {

}
