@if (showMenu)
{
    <div class="context-menu" style="top:@menuYpx; left:@menuXpx;">
        @ChildContent(_context!)
    </div>
}

@code {
    [Inject]
    private IJSRuntime JS { get; init; } = default!;

    [Parameter]
    public RenderFragment<object> ChildContent { get; set; }

    private object? _context;
    private bool showMenu = false;
    private int menuX, menuY;

    private string menuXpx => $"{menuX}px";
    private string menuYpx => $"{menuY}px";

    public void Open(MouseEventArgs e, object context)
    {
        menuX = (int)e.ClientX;
        menuY = (int)e.ClientY;
        showMenu = true;

        _context = context;

        // Prevent the default browser context menu
        JS.InvokeVoidAsync("preventContextMenu");
    }
}
