.notification-container {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
}

.notification {
  position: relative;
  display: flex;
  top: 50px;
  flex-direction: column;
  align-items: end;
}

.notification-content {
  pointer-events: auto;
}
