<div class="sidebar">
    <ul>
        @ChildContent
    </ul>
</div>

@code {
    /// <summary>Gets or sets the sidebar items to be rendered within the sidebar.</summary>
    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; }
}
