<div class="sidebar" style="border-right: 1px solid black;">
    <ul style="padding: 0;">
        @ChildContent
    </ul>
</div>

@code {
    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; }
}
