@typeparam TItem

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Last Modified</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Items)
        {
            <GridRow TItem="TItem" Item="@item">
                <ChildContent>
                    @Row(item)
                </ChildContent>
            </GridRow>
        }
    </tbody>
</table>

@code {
    /// <summary>
    ///     Gets or sets the items to be rendered onto the grid.
    /// </summary>
    [Parameter]
    public List<TItem> Items { get; set; }

    /// <summary>
    ///     Gets or sets a template by which each row should be rendered.
    /// </summary>
    [Parameter]
    public RenderFragment<TItem> Row { get; set; }
}