@using Launcher.Enums
@using Launcher.UI.Components.Dialogs
@using Launcher.UI.Components.Flyouts
@using Launcher.UI.Components.Navigation

@inherits LayoutComponentBase

<div class="page">
    <Notification />

    <Sidebar>
        <SideBarItem Icon="SvgIcon.Home" />
        <SideBarItem Icon="SvgIcon.Cog" OnClick="@OpenSettingsFlyout" />
    </Sidebar>

    <div class="content" style="margin: 0 1em; padding: 0; display: grid; grid-template-rows: 100px auto;">
        @Body
    </div>
</div>

<SettingsFlyout @bind-IsVisible="@_settingsVisible" />

@code {
    private bool _settingsVisible;

    private void OpenSettingsFlyout()
        => _settingsVisible = true;
}