@inherits DialogBase

@inject INotificationService NotificationService

@foreach (var notification in NotificationService.Notifications)
{
    <div class="alert alert-@(Type.ToCssClass()) toast @_notificationVisibleClass" role="alert">
        @notification.Key (@notification.Value)
        <DiscardIcon DiscardClicked="@NotificationService.Discard" />
    </div>
}

@code {
    private string _notificationVisibleClass => Visible ? "notification-visible" : "notification-hidden";

    /// <summary>Gets or sets the type of the notification.</summary>
    [Parameter]
    public NotificationType Type { get; set; } = NotificationType.Warning;
}
