.flyout {
  display: none;
  position: absolute;
  top: 0;
  width: 50%;
  height: 100vh;
  z-index: 9999;
  background: white;
  border-right: 1px solid black;
  left: 50px;
  grid-template-rows: 70px auto 70px;
}

.flyout-header {
  display: flex;
  justify-content: space-between;
}
.flyout-header button {
  border: none;
  background: none;
}

.flyout-content {
  overflow-y: scroll;
  padding-left: 1em;
}

.flyout-footer {
  border-top: 1px solid black;
  padding: 5px;
  display: flex;
  justify-content: end;
  gap: 8px;
}

.flyout-footer, .flyout-header, .flyout-content {
  padding: 1em;
}
