name: Publish Core to NuGet

on:
  push:
    branches:
      - '**'
    paths:
      - 'Core/**'
      - '.github/workflows/publish-nuget.yml'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  publish:
    runs-on: windows-latest
    env:
      RUN_TAG_STEP: true
      ACTIONS_STEP_DEBUG: true

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.x'

    - name: Restore Workloads
      run: dotnet workload restore

    - name: Generate new semantic version
      id: version
      uses: mathieudutour/github-tag-action@v6.2
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        release_branches: main
        pre_release_branches: ".*"
        dry_run: true
      continue-on-error: true

    - name: Patch version in .csproj
      run: |
        csproj_file="Core/SharpEngine.Core.csproj"
        version="${{ steps.version.outputs.new_version }}"
        echo "Setting version to $version in $csproj_file"
        sed -i "s|<Version>.*</Version>|<Version>$version</Version>|" "$csproj_file"
      shell: bash

    - name: Build Solution
      run: dotnet build SharpEngine.sln --configuration Release

    - name: Pack NuGet Package
      run: dotnet pack Core/SharpEngine.Core.csproj --configuration Release --no-build -o ./nupkgs

    - name: Zip Editor Publish Contents
      run: |
        cd Editor
        dotnet publish SharpEngine.Editor.csproj --configuration Release --output ./bin/publish
        zip -r ../Editor.zip ./bin/publish
      shell: bash

    - name: Zip Launcher Publish Contents
      run: |
        cd Launcher
        dotnet publish Launcher.csproj --configuration Release --output ./bin/publish
        zip -r ../Launcher.zip ./bin/publish
      shell: bash

    # - name: Push Package to NuGet
    #   run: dotnet nuget push ./nupkgs/*.nupkg --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.PUBLISH_NUGET_PACKAGE }}

    - name: Create Draft Release
      id: create_release
      uses: softprops/action-gh-release@v1
      with:
        tag_name: ${{ steps.version.outputs.new_version }}
        name: Release ${{ steps.version.outputs.new_version }}
        body_path: ./release_notes.md
        draft: true
        discussion_category_name: General
        files: |
          Editor.zip
          Launcher.zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    # - name: Publish package in github
    #   run: dotnet nuget push ./nupkgs/*.nupkg --source "https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json" --api-key ${{ secrets.GITHUB_TOKEN }}
